.About + .Header {
}

.About {
	background-color: #e0dcd2;

	.link.activeLink {
		color: $about-color-2 !important;
	}

	&__main {
		color: $about-color-2;
		font-family: $paragraphFont;
		width: min(700px, 100%);

		&__paragraphs {
			&__content {
				&--2 {
					display: flex;
					flex-direction: column;
					justify-content: center;

					.more-songs-button {
						margin: 1rem 0;
						border: 0;
						background-color: none;
						padding: 1.25rem 2rem;
						cursor: pointer;
						width: 87%;
						background-color: white;

						&:hover {
							transition: 200ms;
							background-color: rgba(255, 255, 255, 0.495);
							> span {
								text-decoration: underline;
							}
						}

						> span {
							font-size: clamp(
								1.05rem,
								0.8333rem + 0.963vw,
								1.7rem
							);
							display: inline-block;
						}
					}
				}

				&__paragraph {
					font-size: clamp(1.05rem, 0.8333rem + 0.963vw, 1.7rem);
					margin-bottom: 0.5rem;
				}

				&__media {
					margin-bottom: 2.5rem;
					width: 95%;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: flex-start;

					&--1 {
						width: 100%;
					}

					&--2 {
						a {
							display: flex;
							flex-direction: column;
							align-items: center;
							box-sizing: border-box;
							width: 45%;
							margin: 1%;

							&:first-child,
							&:nth-child(3) {
								margin-left: 0;
							}

							&:hover {
								img {
									transition: border 200ms;
									border: 5px solid black;
								}

								.track-info {
									text-decoration: underline;
								}
							}

							img {
								border: 5px solid white;
								width: 100%;
								height: 100%;
							}

							.track-info {
								font-size: clamp(
									0.8rem,
									0.7333rem + 0.2963vw,
									1rem
								);
								color: black;
								text-align: center;
							}
						}
					}

					img {
						box-sizing: border-box;
						width: 45%;
						margin: 1%;
						border: 5px solid white;

						&:first-child,
						&:nth-child(3) {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

.emphasize {
	color: rgb(41, 5, 5);
}
