.page {
  padding: 1rem;
  padding-top: max(130px, 12.5%);
  padding-left: 12.5%;
  padding-right: calc(12.5% - 1rem);
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 415px) {
  .page {
    padding-left: 3%;
  }
}

.Hidden {
  background-color: rgb(234, 244, 250);

  &__main {
    h1, h2, h3 {
      font-family: $titleFont;
    }
  }
}