.Title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-family: $fancyFont;
    text-transform: uppercase;
    color: rgb(15, 15, 15);
    font-size: clamp(2.5rem, 1.0462rem + 6.4615vw, 6.7rem);
  }
}
